@include tablet {
    footer {
        padding: 60px 5px 20px 5px !important;
    
        #footer-content {
            flex-direction: column;
            justify-content: space-between;
    
            .column-footer {
                padding: 20px;
            }
            
            .logotipo {
                width: 150px !important;
                margin-bottom: 30px;
            }
    
            #footer-column-2 {
    
                h1 {
                    font-size: 2.5em !important;
                }
    
                .inner-footer-wrapper{
                    display: flex;
    
                    img {
                        height: 25px;
                        margin-right: 15px;
                    }
                }
    
                #social-icons {

                    img {
                        margin-right: 30px !important;
                    }
                }
            }
        }
    }
}