.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;

    #home-carousel {
        height: 55%;
        width: 70%; 
        overflow: hidden;
        box-shadow: $primary-shadow;
    }
}

